h1, h2, h3, h4, h5, h6 {
    color: black;
    font-weight: normal;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

img {
    vertical-align: middle;
    max-width: 100%;
}